<div class="container mt-5 mb-5" *ngIf="post">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex justify-content-between p-2 px-2">
                    <div class="d-flex flex-row align-items-center userInfo"> 
                        <!-- <img alt="Photo profil de l'auteur de la publication" [src]="post.User.profilePic ? post.User.profilePic : '../../../assets/noprofilepic.jpg'" width="50" class="rounded-circle profilePic"> -->
                        <div class="d-flex flex-column ml-2"> 
                            <span class="font-weight-bold">{{post.User.username | titlecase}}</span> 
                            <small class="mr-2">Publié le {{post.createdAt | date: 'dd/MM/yyyy'}}</small> 
                        </div>
                    </div>
                    <div id="hide" tabindex="0" class=" flex-row mt-1" [ngClass]="{'onshow': this.userId == post.userId || this.user.isAdmin == true}">
                        <a id="iconTrash"
                            (click)="onDeletePost(post)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </a>
                    </div>
                </div> 
                <img [src]="post.photo" class="img-fluid">
                <div class="p-2">
                    <p class="text-justify" [innerHtml]="post.textPost | dompurify"></p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row icons d-flex align-items-center" *ngIf="likes">
                            <a tabindex="0"
                                (click)="onLikePost(post);$event.preventDefault()"
                                aria-label="Bouton aimer la publication"> 
                                <fa-icon class="iconThumbs" [icon]="faThumbsUp" [ngClass]="{'onLike': post.likeValue === 1}"></fa-icon>
                            </a>
                            <p>{{likes.length}}</p>
                        </div>
                    </div>
                    <hr>
                    <form [formGroup]="commentForm" (keydown)="submitComment($event, post)">
                        <div class="comment-input"> 
                            <input type="text" 
                            class="form-control" 
                            formControlName="textComment" 
                            placeholder="Exprimez-vous"
                            aria-label="Ecrire un commentaire">
                        </div>
                    </form>
                    <hr>
                    <div class="comments" *ngFor="let comment of comments; let index = index">
                        <div id="commentTop" class="d-flex flex-row mb-2"> 
                            <!-- <img [src]="user.profilePic ? user.profilePic : '../../../assets/noprofilepic.jpg'" width="40" class="rounded-image profilePic"> -->
                            <div class="flex-column ml-2"> 
                                <span class="name">{{comment.user.username | titlecase}} </span> 
                            </div>
                            <div>
                                <small>Publié le {{comment.createdAt | date: 'dd/MM/yyyy'}}</small>
                            </div>
                        </div> 
                        <small class="comment-text">{{comment.textComment}}</small>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
